
.button_legend {
  font-size: 1.5rem;
}

.list-group strong {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
}

@media (max-width: 575px) {
  .row > [class*="col-"] {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


 .aspect--16x16 {
  padding-bottom: 100%;
}

.aspect--16x1 {
  padding-bottom: 6.25%;
}

.aspect--16x2 {
  padding-bottom: 12.5%;
}

.aspect--16x3 {
  padding-bottom: 18.75%;
}

.aspect--16x4 {
  padding-bottom: 25%;
}

.aspect--16x5 {
  padding-bottom: 31.25%;
}

.aspect--16x6 {
  padding-bottom: 37.5%;
}

.aspect--16x7 {
  padding-bottom: 43.75%;
}

.aspect--16x8 {
  padding-bottom: 50%;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

.aspect--16x10 {
  padding-bottom: 62.5%;
}

.aspect--16x11 {
  padding-bottom: 68.75%;
}

.aspect--16x12 {
  padding-bottom: 75%;
}

.aspect--16x13 {
  padding-bottom: 81.25%;
}

.aspect--16x14 {
  padding-bottom: 87.5%;
}

.aspect--16x15 {
  padding-bottom: 93.75%;
}

.aspect--1x16 {
  padding-bottom: 1600%;
}

.aspect--2x16 {
  padding-bottom: 800%;
}

.aspect--3x16 {
  padding-bottom: 533.33%;
}

.aspect--4x16 {
  padding-bottom: 400%;
}

.aspect--5x16 {
  padding-bottom: 320%;
}

.aspect--6x16 {
  padding-bottom: 266.67%;
}

.aspect--7x16 {
  padding-bottom: 228.57%;
}

.aspect--8x16 {
  padding-bottom: 200%;
}

.aspect--9x16 {
  padding-bottom: 177.78%;
}

.aspect--10x16 {
  padding-bottom: 160%;
}

.aspect--11x16 {
  padding-bottom: 145.45%;
}

.aspect--12x16 {
  padding-bottom: 133.33%;
}

.aspect--13x16 {
  padding-bottom: 123.08%;
}

.aspect--14x16 {
  padding-bottom: 114.29%;
}

.aspect--15x16 {
  padding-bottom: 106.67%;
}
